# lightning.pytorch==2.1.3
seed_everything: 101588
trainer:
  accelerator: auto
  strategy: auto
  devices: auto
  profiler: "simple"
  enable_progress_bar: true
  logger:
    - class_path: lightning.pytorch.loggers.WandbLogger
      init_args:
        save_dir: ${oc.env:AMPLFI_OUTDIR}/train_logs
        project: amplfi
        # uncomment and set to name your run
        # name: my-amplfi-run 
  max_epochs: 400
  check_val_every_n_epoch: 1
  log_every_n_steps: 50
  benchmark: false
  callbacks:
    - class_path: amplfi.train.callbacks.ModelCheckpoint
      init_args:
        monitor: "valid_loss"
        save_top_k: 5
        save_last: true
        auto_insert_metric_name : false
        mode: "min"
    - class_path: lightning.pytorch.callbacks.LearningRateMonitor
      init_args:
        logging_interval: epoch
model:
  class_path: amplfi.train.models.flow.FlowModel
  init_args:
    train_outdir: ${oc.env:AMPLFI_OUTDIR}
    nside: 32
    min_samples_per_pix: 15
    samples_per_event: 10000
    num_plot: 50
    plot_data: false
    arch:
      class_path: amplfi.train.architectures.NSF
      init_args:
        hidden_features: [512, 512, 512]
        transforms: 20
        randperm: true
        # uncomment below to load 
        # in pre-trained embedding weights
        # embedding_weights: "path/to/embedding/weights"
        # freeze_embedding: false
        embedding_net: 
          class_path: amplfi.train.architectures.embeddings.MultiModalPsd
          init_args:
            time_context_dim: 8
            freq_context_dim: 128
            time_layers: [5, 3, 3]
            freq_layers: [5, 3, 3]
            norm_layer:
              class_path: ml4gw.nn.norm.GroupNorm1DGetter
              init_args:
                groups: 8
    patience: 40
    learning_rate: 0.00071444
    weight_decay: 0.00042
data:
  class_path: amplfi.train.data.datasets.FlowDataset
  init_args:
    data_dir: ${oc.env:AMPLFI_DATADIR}
    inference_params: ["chirp_mass", "mass_ratio", "distance", "phic", "inclination", "dec", "psi", "phi"]
    highpass: 25
    sample_rate: 2048
    kernel_length: 3
    fduration: 2
    psd_length: 10
    fftlength: 2
    batches_per_epoch: 800
    batch_size: 512
    ifos: ["H1", "L1"]
    min_valid_duration: 10000.0
    num_files_per_batch: 10
    waveform_sampler: 
      class_path: amplfi.train.data.waveforms.generator.cbc.CBCGenerator
      init_args:
        jitter: 0.1
        num_fit_params: 100000
        parameter_sampler: 
          class_path: amplfi.train.priors.precessing_cbc_prior
        dec: 
          class_path: ml4gw.distributions.Cosine
        psi: 
          class_path: torch.distributions.Uniform
          init_args:
            low: 0
            high: 3.14159
            validate_args: false
        phi: 
          class_path: torch.distributions.Uniform
          init_args:
            low: 0
            high: 6.28318
            validate_args: false
        num_val_waveforms: 10000
        num_test_waveforms: 200
        approximant: ml4gw.waveforms.IMRPhenomPv2
        f_min: 20
        f_ref: 40
        right_pad: 0.5
