name: unit-tests
 
on:
  pull_request:
   types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    permissions:
      packages: read
    container:
      # container with python and git
      image: cicirello/pyaction:4.32
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install the project
        run: |
            apt-get update
            apt-get install -y build-essential
            apt-get clean
            uv sync --all-extras --dev
            
      - name: Run tests
        run: |
            uv run pytest tests
